@font-face {
  font-family: "TNR";
  src: url(../fonts/1/1);
}
@font-face {
  font-family: "Archivo Black";
  src: url(../fonts/ArchivoBlack-Regular.ttf);
}
html {
  min-height: 100vh;
  overflow-x: hidden;
}

body {
  font-family: "TNR";
  background-image: url(../imgs/bg2.jpg);
  background-size: cover;
}

hr {
  border-color: #45a29e;
}

#icons a {
  text-decoration: none;
}
#icons a i {
  color: #66fcf1;
  transition: 0.5s ease-in-out;
}
#icons a i:hover {
  padding: 3px;
  font-size: 32px;
}

#card-style {
  transition-delay: 0.1s;
  transition-duration: 1s;
  transition-timing-function: ease-out;
}
#card-style:hover {
  scale: 1.1;
}

#button-style {
  background-color: #0b0c10;
  text-decoration: none;
  border: 1px solid white;
  transition-duration: 0.7s;
  transition-timing-function: ease-in-out;
}
#button-style:hover {
  scale: 1.1;
  background-color: white;
  color: #0b0c10;
}

#nav {
  color: #ffffff;
  background-color: #002147;
}

#content {
  color: #1a1a1a;
  background-color: #ffffff;
}

#challenges {
  background-color: #0b0c10;
  text-decoration: none;
  border: 1px solid white;
  transition-duration: 0.7s;
  transition-timing-function: ease-in-out;
}
#challenges:hover {
  scale: 1.1;
  background-color: white;
  color: #0b0c10;
}

#download-cv {
  background-color: #002147;
  text-decoration: none;
  border: 1px solid #014ea7;
  transition-duration: 0.7s;
  transition-timing-function: ease-in-out;
}
#download-cv:hover {
  scale: 1.1;
  background-color: white;
  color: #0b0c10;
}

.title {
  color: rgb(1, 78, 167);
}

.custom-list {
  list-style-image: url("/imgs/diamond-solid-full.svg");
}

.custom-projects-card {
  text-decoration: none;
}
.custom-projects-card div {
  background-image: url(../imgs/bg1.jpg);
  background-size: cover;
}
.custom-projects-card .card-text {
  color: whitesmoke;
  -webkit-text-stroke: 1px #0b0c10;
  font-size: 1.8rem;
  font-family: "Archivo Black";
}

.custom-col {
  transition: 0.5s all ease-in-out;
}
.custom-col:hover {
  transform: scale(1.08);
}

.custom-projects-text {
  font-family: "Archivo Black";
}

.custom-challenges-card {
  text-decoration: none;
}
.custom-challenges-card div {
  background-image: url(../imgs/bg1.jpg);
  background-size: cover;
}
.custom-challenges-card .card-text {
  color: whitesmoke;
  -webkit-text-stroke: 1px #0b0c10;
  font-size: 1.8rem;
  font-family: "Archivo Black";
}

.custom-challenges-text {
  font-family: "Archivo Black";
}

.skills-carousel {
  margin: 100px auto;
  width: 97%;
  display: flex;
  overflow-x: auto;
}

.skills-carousel::-webkit-scrollbar {
  display: none;
}

.skills-logos {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1em;
  animation: spin 10s infinite linear;
  padding-right: 1em;
}

.bootstrapLogo img {
  width: 3em;
  margin: auto;
}

.htmlLogo img {
  width: 3em;
  margin: auto;
}

.skills-card {
  display: flex;
  flex-direction: column;
  flex: 0 0 5em;
  height: 5.5em;
  padding: 1em;
  font-size: 1.7rem;
  text-align: center;
  align-content: center;
  font-family: "Archivo Black";
}

@keyframes spin {
  from {
    translate: 0;
  }
  to {
    translate: -100%;
  }
} /*# sourceMappingURL=main.css.map */
