*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
}

@font-face {
  font-family: "Archivo Black";
  src: url(../fonts/ArchivoBlack-Regular.ttf);
}

@font-face {
  font-family: "Fraunces";
  src: url(../fonts/Fraunces-Italic-VariableFont_SOFT\,WONK\,opsz\,wght.ttf);
}

@font-face {
  font-family: "Roboto Condensed";
  src: url(../fonts/RobotoCondensed-VariableFont_wght.ttf);
}

body {
  margin: 0;
  font-family: "Archivo Black";
  overflow-x: hidden;
}

:root {
  --bar-width: 50px;
  --bar-height: 5px;
  --hamburger-gap: 6px;
  --foreground: #333;
  --background: white;
  --hamburger-margin: 2.6rem;
  --animation-timing: 200ms ease-in-out;
  --hamburger-height: calc(var(--bar-height) * 3 + var(--hamburger-gap) * 2);
  --first-color: rgb(250, 131, 20);
  --second-color: rgb(33, 33, 33);
  --third-color: rgb(250, 243, 224);
  --fourth-color: rgb(245, 231, 199);
}

/* -------------------------------------------------NAV---------------------------------------------------- */

header {
  width: 100%;
  height: 100vh;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

header video {
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: -1;
}

nav {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  align-content: center;
  justify-content: space-between;
  padding-left: 1rem;
  align-items: center;
}

nav #logo-text {
  background-image: linear-gradient(
    to top right,
    var(--third-color) 5%,
    var(--first-color)
  );
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke: 0.2rem var(--second-color);
  transition: 0.5s all ease-out;
  background-clip: text;
  font-family: "Archivo Black";
  text-decoration: none;
  font-size: 4.5rem;
  font-weight: 600;
  display: flex;
  align-items: center;
}

nav #logo {
  width: 4rem;
  height: 4rem;
  text-decoration: none;
  transition: 0.5s all ease-out;
}

nav div {
  display: flex;
  padding-right: 2rem;
}

nav div a {
  text-decoration: none;
  color: var(--first-color);
  -webkit-text-stroke: 0.07rem var(--second-color);
  font-size: 1.8rem;
  transition: 0.5s;
  font-family: "Archivo Black";
  margin-left: 3rem;
}

nav div a:hover {
  color: var(--fourth-color);
}

.header-content h1 {
  background-image: linear-gradient(
    to top right,
    var(--first-color),
    var(--third-color)
  );
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke: 0.15rem var(--second-color);
  transition: 0.5s all ease-out;
  background-clip: text;
  font-family: "Archivo Black";
  font-size: 6rem;
  color: transparent;
  font-weight: 600;
  transition: 0.5s all ease-in-out;
}

.header-content a {
  background-color: rgba(250, 243, 224, 0.5);
  text-decoration: none;
  display: inline-block;
  color: var(--first-color);
  -webkit-text-stroke: 0.05rem var(--second-color);
  font-size: 1.5rem;
  padding: 1rem 4rem;
  border-radius: 3rem;
  margin-top: 1.5rem;
  transition: 0.5s all ease-in-out;
  font-family: "Archivo Black";
}

.header-content h1:hover {
  cursor: default;
}

.header-content:hover h1 {
  -webkit-text-stroke: 0.2rem var(--second-color);
  scale: 1.05;
}

.header-content a:hover {
  border: 0.2rem solid var(--second-color);
  color: #fff;
  background-image: linear-gradient(
    to top right,
    var(--first-color),
    var(--third-color)
  );
  box-shadow: 0.2rem 0.3rem var(--second-color);
}

.hamburger-menu:has(input:checked) {
  --foreground: white;
  --background: #333;
}

.hamburger-menu:has(input:focus-visible)::before,
.hamburger-menu:has(input:focus-visible)::after,
.hamburger-menu input:focus-visible {
  border: 1px solid var(--background);
  box-shadow: 0 0 0 1px var(--foreground);
}

.hamburger-menu:before,
.hamburger-menu:after,
.hamburger-menu input {
  content: "";
  border: 0.1rem solid var(--second-color);
  width: var(--bar-width);
  height: var(--bar-height);
  background-color: var(--first-color);
  border-radius: 9999px;
  transform-origin: left center;
  transition:
    opacity var(--animation-timing),
    width var(--animation-timing),
    rotate var(--animation-timing),
    translate var(--animation-timing),
    background-color var(--animation-timing);
}

.hamburger-menu {
  --x-width: calc(var(--hamburger-height) * 1.41421356237);
  flex-direction: column;
  gap: var(--hamburger-gap);
  width: max-content;
  position: absolute;
  top: var(--hamburger-margin);
  right: var(--hamburger-margin);
  z-index: 2;
  cursor: pointer;
  display: none;
}

.hamburger-menu input {
  appearance: none;
  padding: 0;
  margin: 0;
  outline: none;
  pointer-events: none;
}

.hamburger-menu:has(input:checked)::before {
  rotate: 45deg;
  width: var(--x-width);
  translate: 0 calc(var(--bar-height) / -2);
}

.hamburger-menu:has(input:checked)::after {
  rotate: -45deg;
  width: var(--x-width);
  translate: 0 calc(var(--bar-height) / 2);
}

.hamburger-menu input:checked {
  opacity: 0;
  width: 0;
}

.custom-sidebar {
  transition: translate var(--animation-timing);
  translate: 100%;
  padding: 0.5rem 1rem;
  padding-top: calc(var(--hamburger-height) + var(--hamburger-margin) + 1rem);
  background-color: rgba(255, 255, 255, 0);
  color: var(--background);
  max-width: max-content;
  min-height: max-content;
}

.hamburger-menu:has(input:checked) + .custom-sidebar {
  translate: 0;
}

.custom-sidebar {
  display: none;
}

.navbar {
  display: none;
}

/* -------------------------------------------------ABOUT---------------------------------------------------- */

.bg-1 {
  background-color: var(--first-color);
}

.blue-stroke-title {
  -webkit-text-stroke: 0.08rem var(--second-color);
}

.bg-2 {
  background-color: var(--second-color);
  padding-top: 3rem;
}

.custom-title {
  color: var(--fourth-color);
  font-size: 4rem;
  font-family: "Archivo Black";
  cursor: default;
}

.bg-1 div p {
  color: var(--second-color);
  font-size: 1.3rem;
  font-family: "Fraunces";
  font-weight: 500;
}

.bg-1 div div h3 {
  color: var(--fourth-color);
  font-family: "Archivo Black";
  -webkit-text-stroke: 0.05rem var(--second-color);
  font-size: 2.2rem;
}

.bg-1 div div ul li {
  color: var(--second-color);
  font-family: "Fraunces";
  font-size: 1.2rem;
  text-align: center;
  list-style: none;
  font-weight: 500;
}

.custom-about img {
  box-shadow: 0.2rem 0.3rem var(--second-color);
}

.custom-about h2 {
  color: var(--fourth-color);
  font-family: "Archivo Black";
  -webkit-text-stroke: 0.05rem var(--second-color);
  font-size: 1.8rem;
  margin: 0.7rem 0rem;
}

.custom-about p {
  color: var(--second-color);
  font-family: "Fraunces";
  font-size: 1.1rem;
}

/* -------------------------------------------------CAROUSEL---------------------------------------------------- */
.carousel {
  height: 90vh;
  width: 90vw;
  overflow: hidden;
  position: relative;
  box-shadow: 0.3rem 0.5rem var(--fourth-color);
  border: 0.15rem solid var(--fourth-color);
}

.carousel .list .item {
  width: 100%;
  height: 100%;
  position: absolute;
  inset: 0 0 0 0;
}

.carousel .list .item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.carousel .list .item .content {
  position: absolute;
  top: 20%;
  width: 1140px;
  max-width: 80%;
  left: 50%;
  transform: translateX(-50%);
  padding-right: 30%;
  box-sizing: border-box;
  color: #fff;
  text-shadow: 0 5px 10px #0004;
}

.carousel .list .item .title,
.carousel .list .item .topic {
  font-size: 5em;
  line-height: 1.3em;
  font-family: "Archivo Black";
  -webkit-text-stroke: 0.1rem var(--second-color);
}

.carousel .list .item .topic {
  color: #f1683a;
  font-size: 3.5em;
  line-height: 1.2em;
  margin-bottom: 25px;
}

/* thumbail */
.thumbnail {
  position: absolute;
  bottom: 50px;
  left: 50%;
  width: max-content;
  z-index: 100;
  display: flex;
  gap: 15px;
}

.thumbnail .item {
  width: 150px;
  height: 220px;
  flex-shrink: 0;
  position: relative;
  padding-right: 1rem;
}

.thumbnail .item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 20px;
}

/* arrows */
.arrows {
  position: absolute;
  top: 80%;
  right: 52%;
  z-index: 100;
  width: 300px;
  max-width: 30%;
  display: flex;
  gap: 10px;
  align-items: center;
}

.arrows button {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: rgba(33, 33, 33, 0.7);
  border: none;
  color: var(--fourth-color);
  font-weight: bold;
  transition: 0.5s;
}

.arrows button:hover {
  background-color: var(--fourth-color);
  color: var(--second-color);
  box-shadow: 0.2rem 0.3rem var(--second-color);
}

/* animation */
.carousel .list .item:nth-child(1) {
  z-index: 1;
}

/* animation text in first item */

.carousel .list .item:nth-child(1) .content .title,
.carousel .list .item:nth-child(1) .content .topic {
  transform: translateY(50px);
  filter: blur(20px);
  opacity: 0;
  animation: showContent 0.7s 1s linear 1 forwards;
}

@keyframes showContent {
  to {
    transform: translateY(0px);
    filter: blur(0px);
    opacity: 1;
  }
}

.carousel .list .item:nth-child(1) .content .title {
  animation-delay: 1.2s !important;
}

.carousel .list .item:nth-child(1) .content .topic {
  animation-delay: 1.4s !important;
}

/* create animation when next click */
.carousel.next .list .item:nth-child(1) img {
  width: 150px;
  height: 220px;
  position: absolute;
  bottom: 50px;
  left: 50%;
  border-radius: 30px;
  animation: showImage 0.5s linear 1 forwards;
}

@keyframes showImage {
  to {
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 0;
  }
}

.carousel.next .thumbnail .item:nth-last-child(1) {
  overflow: hidden;
  animation: showThumbnail 0.5s linear 1 forwards;
}

.carousel.prev .list .item img {
  z-index: 100;
}

@keyframes showThumbnail {
  from {
    width: 0;
    opacity: 0;
  }
}

.carousel.next .thumbnail {
  animation: effectNext 0.5s linear 1 forwards;
}

@keyframes effectNext {
  from {
    transform: translateX(150px);
  }
}

/* running time */

.carousel .time {
  position: absolute;
  z-index: 1000;
  width: 0%;
  height: 3px;
  background-color: #f1683a;
  left: 0;
  top: 0;
}

.carousel.next .time,
.carousel.prev .time {
  animation: runningTime 5s linear 1 forwards;
}

@keyframes runningTime {
  from {
    width: 100%;
  }

  to {
    width: 0;
  }
}

/* prev click */

.carousel.prev .list .item:nth-child(2) {
  z-index: 2;
}

.carousel.prev .list .item:nth-child(2) img {
  animation: outFrame 0.5s linear 1 forwards;
  position: absolute;
  bottom: 0;
  left: 0;
}

@keyframes outFrame {
  to {
    width: 150px;
    height: 220px;
    bottom: 50px;
    left: 50%;
    border-radius: 20px;
  }
}

.carousel.prev .thumbnail .item:nth-child(1) {
  overflow: hidden;
  opacity: 0;
  animation: showThumbnail 0.5s linear 1 forwards;
}

.carousel.next .arrows button,
.carousel.prev .arrows button {
  pointer-events: none;
}

@keyframes contentOut {
  to {
    transform: translateY(-150px);
    filter: blur(20px);
    opacity: 0;
  }
}

.carousel.prev .list .item:nth-child(2) .content .title,
.carousel.prev .list .item:nth-child(2) .content .topic {
  animation: contentOut 1.5s linear 1 forwards !important;
}

/* -------------------------------------------------CONFIGUREAZA---------------------------------------------------- */

.custom-card {
  will-change: transform;
  backface-visibility: hidden;
  transform: translateZ(0);
  transition: all 0.9s ease;
  position: relative;
  overflow: hidden;
  box-shadow: 0.15rem 0.35rem var(--second-color);
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.custom-album:has(.custom-card-image1:hover) .custom-card-image1 .custom-card {
  transform: scaleX(1.05);
  transform-origin: center left;
}

.custom-album:has(.custom-card-image1:hover) .custom-card-image2 .custom-card {
  transform: scaleX(0.95);
  transform-origin: center right;
}

.custom-album:has(.custom-card-image2:hover) .custom-card-image2 .custom-card {
  transform: scaleX(1.05);
  transform-origin: right center;
}

.custom-album:has(.custom-card-image2:hover) .custom-card-image1 .custom-card {
  transform: scaleX(0.95);
  transform-origin: left center;
}

.custom-card img {
  width: 100%;
  will-change: opacity;
}

.card-img {
  opacity: 1;
  position: absolute;
}

.card-img-hover {
  opacity: 0;
  top: 0;
  left: 0;
}

.custom-card:hover .card-img {
  animation: fadeOut 0.8s ease forwards;
}

.custom-card:hover .card-img-hover {
  animation: fadeIn 0.8s ease forwards;
}

.custom-card:not(:hover) .card-img {
  animation: none;
  opacity: 1;
}

.custom-card:not(:hover) .card-img-hover {
  animation: none;
  opacity: 0;
}

.custom-album:has(.custom-card-image3:hover) .custom-card-image3 .custom-card {
  transform: scaleX(1.05);
  transform-origin: center left;
}

.custom-album:has(.custom-card-image3:hover) .custom-card-image4 .custom-card {
  transform: scaleX(0.95);
  transform-origin: center right;
}

.custom-album:has(.custom-card-image4:hover) .custom-card-image4 .custom-card {
  transform: scaleX(1.05);
  transform-origin: right center;
}

.custom-album:has(.custom-card-image4:hover) .custom-card-image3 .custom-card {
  transform: scaleX(0.95);
  transform-origin: left center;
}

.custom-card img {
  width: 100%;
  will-change: opacity;
}

.card-img {
  opacity: 1;
  position: absolute;
}

.card-img-hover {
  opacity: 0;
  top: 0;
  left: 0;
}

.custom-card:hover .card-img {
  animation: fadeOut 0.8s ease forwards;
}

.custom-card:hover .card-img-hover {
  animation: fadeIn 0.8s ease forwards;
}

.custom-card:not(:hover) .card-img {
  animation: none;
  opacity: 1;
}

.custom-card:not(:hover) .card-img-hover {
  animation: none;
  opacity: 0;
}

.pers-link {
  height: 100%;
  width: 100%;
  text-decoration: none;
}

.card-img-overlay {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.card-img-overlay .info {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  margin-top: auto;
}

.card-img-overlay .info p {
  background-color: rgba(33, 33, 33, 0.6);
  display: inline-flex;
  padding: 0.3rem;
  color: #fff;
  font-family: "Archivo Black";
  font-size: 1.2rem;
}

.card-img-overlay h4 {
  font-size: 1.6rem;
  font-weight: 700;
}

.card-img-overlay h3,
.card-img-overlay .info h4,
.card-img-overlay .info p {
  color: var(--fourth-color);
  transition: all 0.7s ease;
  -webkit-text-stroke: 0.03rem var(--second-color);
}

.custom-card:hover .card-img-overlay .info h4,
.custom-card:hover .card-img-overlay .info p {
  transform: scale(1.02);
  transform-origin: left center;
}

.custom-card:hover .card-img-overlay .info p {
  border: 1px solid var(--first-color);
  background-color: rgba(33, 33, 33, 0.8);
}

.custom-card:hover .card-img-overlay h3 {
  transform: scale(1.02);
}

.custom-card:hover .card-img-overlay h3,
.custom-card:hover .card-img-overlay .info h4,
.custom-card:hover .card-img-overlay .info p {
  color: #fff;
}

.custom-card:hover .card-button-custom {
  animation: fadeIn 0.8s ease forwards;
  border: 0.2rem solid var(--second-color);
  color: #fff;
  background-image: linear-gradient(
    to top right,
    var(--first-color),
    var(--third-color)
  );
  box-shadow: 0.1rem 0.2rem var(--second-color);
}

.card-button-custom {
  opacity: 0;
  text-decoration: none;
  display: inline-block;
  color: var(--first-color);
  -webkit-text-stroke: 0.04rem var(--second-color);
  font-size: 1.4rem;
  padding: 0.5rem;
  border-radius: 1.5rem;
  margin-top: 1.5rem;
  transition: 0.5s all ease-in-out;
  font-family: "Archivo Black";
}

/* -------------------------------------------------Reviews---------------------------------------------------- */

.custom-review div:first-child {
  box-shadow: 0.3rem 0.5rem var(--fourth-color);
  border-radius: 1rem 1rem 0rem 0rem;
  border: 0.15rem solid var(--fourth-color);
}

.card-body-custom {
  background-color: rgba(250, 131, 20, 0.7);
  padding: 0.5rem;
}

.card-body-custom p,
.card-body-custom div p {
  color: var(--second-color);
  font-family: "Roboto Condensed";
  font-size: 1.2rem;
}

.card-body-custom h3 {
  color: var(--third-color);
  font-family: "Archivo Black";
  font-size: 1.7rem;
  -webkit-text-stroke: 0.04rem var(--second-color);
}

.custom-review div:first-child {
  transition: all 0.7s ease-in-out;
}

.custom-review img {
  border-radius: 0.8rem 0.8rem 0rem 0rem;
}

.custom-review:hover div:first-child {
  transform: translateY(0.3rem);
  transform: scale(1.05);
  transform-origin: center;
}

.custom-text-warning {
  color: var(--first-color);
  font-size: 1rem;
  font-family: "Archivo Black";
}

/* -------------------------------------------------Formular-Contact---------------------------------------------------- */

.custom-form {
  background-color: var(--fourth-color);
  border: 0.2rem solid var(--second-color);
  border-radius: 1rem;
  box-shadow: 0.1rem 0.2rem var(--second-color);
}

.form-info div div a i {
  font-size: 2rem;
  color: var(--first-color);
  transition: color 1s ease-in-out;
}

.form-info div div a:hover i {
  cursor: pointer;
  color: var(--second-color);
}

.form-info div div a {
  text-decoration: none;
}

.form-info div div a p {
  font-size: 1.5rem;
  font-weight: 500;
  color: var(--second-color);
}

.submit-button {
  background-color: var(--first-color);
  border: 0.1rem solid var(--second-color);
  border-radius: 1rem;
  color: var(--third-color);
  font-family: "Archivo Black";
  transition: all 0.5s ease-in-out;
}

.submit-button:hover {
  transform: scale(1.01);
  box-shadow: 0.2rem 0.4rem var(--second-color);
}

/* -------------------------------------------------Footer---------------------------------------------------- */

.footer-bg {
  background-image: url(../imgs/footer-bg.jpg);
  background-size: cover;
}

.footer-cover {
  background-color: rgba(33, 33, 33, 0.6);
}

.footer-bg .footer-cover h2 {
  font-size: 5rem;
  font-family: "Archivo Black";
  text-align: center;
  color: var(--fourth-color);
  -webkit-text-stroke: 0.04rem var(--second-color);
}

.footer-info {
  display: flex;
  justify-content: center;
  gap: 1.5rem;
}

.footer-info h3 {
  font-size: 2.5rem;
  color: var(--first-color);
  -webkit-text-stroke: 0.01rem var(--second-color);
  font-family: "Fraunces";
}

.footer-links {
  color: var(--fourth-color);
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.footer-links div:first-child,
.footer-links div:last-child {
  display: flex;
  justify-content: center;
  gap: 1.5rem;
}

.footer-links div:first-child i {
  color: var(--fourth-color);
  font-size: 2.5rem;
  transition: all 0.3s ease-in-out;
}

.footer-links div:last-child a {
  text-decoration: none;
  font-size: 1.5rem;
  color: var(--first-color);
  font-family: "Archivo Black";
  transition: all 0.3s ease-in-out;
}

.footer-copyrights {
  color: var(--fourth-color);
  font-size: 1.3rem;
}

.footer-copyrights p a {
  text-decoration: none;
  color: var(--first-color);
  transition: all 0.3s ease-in-out;
}

.footer-links div:last-child a:hover,
.footer-copyrights p a:hover {
  color: var(--fourth-color);
}

.footer-links div:first-child i:hover {
  transform: scale(1.08);
  color: var(--first-color);
}

/* -------------------------------------------------Configurator---------------------------------------------------- */

/* -------------------------------------------------Media querys---------------------------------------------------- */

@media screen and (min-width: 1000px) {
  #logo-text:hover {
    transform: scale(1.05);
  }
}

@media screen and (max-width: 1000px) {
  .custom-navbar {
    display: none;
  }
  .hamburger-menu {
    display: flex;
  }
  .navbar {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .header-content h1 {
    font-size: 4.5rem;
  }

  .custom-sidebar {
    display: flex;
  }

  nav #logo {
    margin: 2rem;
    position: absolute;
    left: 1rem;
    top: 0;
  }
}

@media screen and (max-width: 991px) {
  .custom-card:hover .card-img-overlay .info h4,
  .custom-card:hover .card-img-overlay .info p,
  .custom-album:has(.custom-card-image3:hover) .custom-card-image3 .custom-card,
  .custom-album:has(.custom-card-image3:hover) .custom-card-image4 .custom-card,
  .custom-album:has(.custom-card-image4:hover) .custom-card-image4 .custom-card,
  .custom-album:has(.custom-card-image4:hover) .custom-card-image3 .custom-card,
  .custom-album:has(.custom-card-image1:hover) .custom-card-image1 .custom-card,
  .custom-album:has(.custom-card-image1:hover) .custom-card-image2 .custom-card,
  .custom-album:has(.custom-card-image2:hover) .custom-card-image2 .custom-card,
  .custom-album:has(.custom-card-image2:hover)
    .custom-card-image1
    .custom-card {
    transform-origin: center;
  }
}

@media screen and (max-width: 1245px) {
  nav #logo-text p {
    display: none;
  }

  nav #logo {
    margin: 2rem;
  }
}

@media screen and (max-width: 769px) {
  .form-info div div a p {
    display: none;
  }
  .footer-info h3 {
    font-size: 1.3rem;
  }
  .footer-links div:last-child a {
    font-size: 1.2rem;
  }
}

@media screen and (max-width: 678px) {
  .carousel .list .item .content {
    padding-right: 0;
  }

  .carousel .list .item .content .title {
    font-size: 30px;
  }
  .bg-1,
  .bg-2,
  .footer-bg,
  header {
    padding: 1rem;
  }
  .footer-copyrights {
  color: var(--fourth-color);
  font-size: 1.2rem;
}
}

@media (min-aspect-ratio: 16/9) {
  header video {
    width: 100%;
    height: auto;
  }
}

@media (max-aspect-ratio: 16/9) {
  header video {
    width: auto;
    height: 100%;
  }
}
