* {
  margin: 0;
  padding: 0;
  border: 0;
}

@font-face {
  font-family: HankenGrotesk;
  src: url(assets/fonts/HankenGrotesk-VariableFont_wght.ttf);
}

body {
  background-color: hsl(221, 100%, 96%);
  height: 100vh;
  font-family: HankenGrotesk;
}

body,
.first-section,
.second-section,
.summary-info {
  display: flex;
  flex-direction: column;
}

.main-card {
  background-color: hsl(0, 0%, 100%);
  display: flex;
  margin: auto;
  border-radius: 25px;
}

.first-section {
  background-image: linear-gradient(to top, hsl(241, 81%, 54%), hsla(252, 100%, 67%, 1));
  color: hsl(0, 0%, 100%);
  background-repeat: no-repeat;
  text-align: center;
  border-radius: 25px;
  width: 265px;
  padding: 20px 52px 55px 52px;
  height: 435px;
}

.results-title {
  font-size: 1.5rem;
  color: hsla(0, 0%, 100%, 0.7);
  margin: 20px 0px 20px 0px;
  font-weight: 500;
}

.results-percentage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-image: linear-gradient(to bottom, hsla(256, 72%, 46%, 1), hsla(241, 72%, 46%, 0));
  border-radius: 100%;
  width: 12.5rem;
  height: 12.5rem;
  margin: auto;
}

.results-percentage p:first-child {
  font-size: 4.4rem;
  font-weight: 800;
}

.results-percentage p:last-child {
  font-size: 1.1rem;
  color: hsla(0, 0%, 100%, 0.4)
}

.results-subtitle {
  font-size: 2.1rem;
  font-weight: 500;
}

.results-paragraph {
  font-size: 1.1rem;
  color: hsla(0, 0%, 100%, 0.7);
  margin-top: 15px;
}

.second-section {
  background-color: hsl(0, 0%, 100%);
  border-radius: 25px;
  width: 289px;
  padding: 20px 40px 55px 40px;
  height: 435px;
}

.summary-title {
  color: hsl(224, 30%, 27%);
  font-size: 1.5rem;
  margin: 15px 0px 20px 0px;
}

.summary-info div {
  display: flex;
}

.summary-info img {
  margin-right: 10px;
}

.summary-reaction {
  background-color: hsla(0, 100%, 67%, 0.1);
}

.summary-memory {
  background-color: hsla(39, 100%, 56%, 0.1);
}

.summary-verbal {
  background-color: hsla(166, 100%, 37%, 0.1);
}

.summary-visual {
  background-color: hsla(234, 85%, 45%, 0.1);
}

.summary-reaction div:first-child {
  color: hsl(0, 100%, 67%);
}

.summary-memory div:first-child {
  color: hsl(39, 100%, 56%);
}

.summary-verbal div:first-child {
  color: hsl(166, 100%, 37%);
}

.summary-visual div:first-child {
  color: hsl(234, 85%, 45%);
}

.summary-reaction,
.summary-memory,
.summary-verbal,
.summary-visual {
  padding: 17px 17px 17px 17px;
  margin: 8px 0px 7px 0px;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
}

.summary-reaction div:first-child,
.summary-memory div:first-child,
.summary-verbal div:first-child,
.summary-visual div:first-child {
  align-items: center;
  display: flex;
  align-items: center;
  font-weight: 700;
  font-size: 1.1rem;
}

.summary-reaction div p:first-child,
.summary-memory div p:first-child,
.summary-verbal div p:first-child,
.summary-visual div p:first-child {
  color: hsl(224, 30%, 27%);
  font-weight: 700;
  margin-right: 7px;
  font-size: 1.1rem;
}

.summary-reaction div p:last-child,
.summary-memory div p:last-child,
.summary-verbal div p:last-child,
.summary-visual div p:last-child {
  color: hsla(224, 30%, 27%, 0.5);
  font-weight: 700;
  font-size: 1.1rem;
}

.summary-btn {
  background-image: linear-gradient(hsl(224, 30%, 27%), hsl(224, 30%, 27%));
  text-decoration: none;
  color: hsla(0, 0%, 100%);
  text-align: center;
  border-radius: 30px;
  margin: 32px 0px 0px 0px;
  padding: 17px 20px 17px 20px;
  font-size: 1.1rem;
  font-weight: 500;
}

.summary-btn:hover {
  background-image: linear-gradient(hsl(241, 81%, 54%), hsl(241, 81%, 54%));
}

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

@media only screen and (max-width: 754px) {
  .main-card{
    flex-direction: column;
  }
}
/* ## Colors

### Primary

- Light red: hsl(0, 100%, 67%)
- Orangey yellow: hsl(39, 100%, 56%)
- Green teal: hsl(166, 100%, 37%)
- Cobalt blue: hsl(234, 85%, 45%)

## Gradients

- Light slate blue (background): hsl(252, 100%, 67%)
- Light royal blue (background): hsl(241, 81%, 54%)

- Violet blue (circle): hsla(256, 72%, 46%, 1)
- Persian blue (circle): hsla(241, 72%, 46%, 0)



### Neutral

- White: hsl(0, 0%, 100%)
- Pale blue: hsl(221, 100%, 96%)
- Light lavender: hsl(241, 100%, 89%)
- Dark gray blue: hsl(224, 30%, 27%)

### Notes

Use transparency to get the color variations necessary to match the design. Hint: look into using `hsla()`.

## Typography

### Body Copy

- Font size (paragraphs): 18px 

### Font

- Family: [Hanken Grotesk](https://fonts.google.com/specimen/Hanken+Grotesk)
- Weights: 500, 700, 800*/